<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        
        <!-- Normal Login Form -->
        <form method="POST">
            <label for="user_input">Email / Phone:</label>
            <input type="text" name="user_input" id="user_input" placeholder="Email or Phone">
            
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password">
            
            <button type="submit" id="loginButton">Login</button>
        </form>

        <form action="{{ url_for('google_login') }}" method="GET">
            <button type="submit" id=googleLoginButton class="google-login">Login with Google</button>
        </form>
        {% if error %}
        <p id="errorMessage" style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
